/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: white black;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  height: 2px;
}

*::-webkit-scrollbar-track {
  display: none;
  /* background: transparent; */
  /* border-radius: 5px; */
}

*::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 14px;
  width: 50px;
  height: 1px;
  /* border: 3px solid white; */
}
